.top_con, .head_con, .banner_con,.weekly_con,.brands_con,.picks_con,.commom_con,.footer_con,.login_con,.main_con{width: 1190px;margin: 0 auto;}

/* footer 底部 */
#footer{
    background: #fff;
}
.footer_con_top{
    padding: 30px 0;
    height: 96px;
    width: 1190px;
    .footer_server{
        float: left;
        width: 236px;
        height: 96px;
        i{
            width: 49px;
            height: 49px;
            display: block;
            margin: 0 auto;
            background: url(../images/index/sprite/footer_ico_sprite.png) no-repeat;
            content: "";
            background-repeat: no-repeat;
        }
        .server_01{
            background-position: -137px 0;
        }
        .server_02{
            background-position: -90px 0;
        }
        .server_03{
            background-position: 0 0;
        }
        .server_04{
            background-position: -180px 0;
        }
        .server_05{
            width: 45px;
            background-position: -47px 0;
        }
        span{
            text-align: center;
            display: block;
            font-weight: 700;
            height: 18px;
            line-height: 18px;
            margin-top: 14px;
        }
    }
    .footer_bar{
        float: left;
        height: 24px;
        width: 1px;
        background-color: #9d9d9d;
        margin-top: 36px;
    }
}
.footer_con_bottom{
    padding: 30px 0 50px;
    min-height: 150px;
    padding: 30px 0 50px;
    background-repeat: no-repeat;
    background-position: right 40px;
    border-top: 2px solid #000;
    background: url(../images/index/icon/footer_line.png) no-repeat right center;
    li{
        float: left;
        width: 190px;
        .footer_title{
            font-weight: bolder;
            color: #000;
            margin-bottom: 10px;
        }
        a{
            color: #696969;
            display: block;
            height: 26px;
            line-height: 26px;
        }
    }
    .footer_last_li{
        width: 220px;
    }
}
.footer_bottom{
    width:100%;
    background: #000;
    padding: 30px 0;
    text-align: center;
    ul{
        display: inline-block;
        height: 42px;
        vertical-align: middle;
        padding: 0 22px;
        color: #6f6f6f;
        font-size: 14px;
        .record{
            width: 100%;
            height: 21px;
            line-height: 21px;
            text-align: center;
            a{
                margin: 0 22px;
                font-size: 14px;
                color: #6f6f6f;
            }
            .police{
                padding-left: 30px;
                background: url(../images/index/icon/footer-redords-icon.png) no-repeat left center;
            }
        }
        .address{
            width: 100%;
            a{
                color: #6f6f6f;
            }
        }
    }
    .web_leader{
        display: inline-block;
        height: 42px;
        vertical-align: middle;
    }
}
