$black: #000; 
$white: #fff;  
$fz: #e00;
$bg: #f5f5f5;

.top_con, .head_con, .banner_con,.weekly_con,.brands_con,.picks_con,.commom_con,.footer_con,.login_con,.main_con{width: 1190px;margin: 0 auto;}

/* 禁止文本选择 */
body{
    -moz-user-select: -moz-none; 
    -moz-user-select: none; 
    -o-user-select:none; 
    -khtml-user-select:none; 
    -webkit-user-select:none; 
    -ms-user-select:none; 
    user-select:none;
}
/* footer 底部 */
#footer{
    background: #fff;
}
.footer_con_top{
    padding: 30px 0;
    height: 96px;
    width: 1190px;
    .footer_server{
        float: left;
        width: 236px;
        height: 96px;
        i{
            width: 49px;
            height: 49px;
            display: block;
            margin: 0 auto;
            background: url(../images/index/sprite/footer_ico_sprite.png) no-repeat;
            content: "";
            background-repeat: no-repeat;
        }
        .server_01{
            background-position: -137px 0;
        }
        .server_02{
            background-position: -90px 0;
        }
        .server_03{
            background-position: 0 0;
        }
        .server_04{
            background-position: -180px 0;
        }
        .server_05{
            width: 45px;
            background-position: -47px 0;
        }
        span{
            text-align: center;
            display: block;
            font-weight: 700;
            height: 18px;
            line-height: 18px;
            margin-top: 14px;
        }
    }
    .footer_bar{
        float: left;
        height: 24px;
        width: 1px;
        background-color: #9d9d9d;
        margin-top: 36px;
    }
}
.footer_con_bottom{
    padding: 30px 0 50px;
    min-height: 150px;
    padding: 30px 0 50px;
    background-repeat: no-repeat;
    background-position: right 40px;
    border-top: 2px solid #000;
    background: url(../images/index/icon/footer_line.png) no-repeat right center;
    li{
        float: left;
        width: 190px;
        .footer_title{
            font-weight: bolder;
            color: #000;
            margin-bottom: 10px;
        }
        a{
            color: #696969;
            display: block;
            height: 26px;
            line-height: 26px;
        }
    }
    .footer_last_li{
        width: 220px;
    }
}
.footer_bottom{
    width:100%;
    background: #000;
    padding: 30px 0;
    text-align: center;
    ul{
        display: inline-block;
        height: 42px;
        vertical-align: middle;
        padding: 0 22px;
        color: #6f6f6f;
        font-size: 14px;
        .record{
            width: 100%;
            height: 21px;
            line-height: 21px;
            text-align: center;
            a{
                margin: 0 22px;
                font-size: 14px;
                color: #6f6f6f;
            }
            .police{
                padding-left: 30px;
                background: url(../images/index/icon/footer-redords-icon.png) no-repeat left center;
            }
        }
        .address{
            width: 100%;
            a{
                color: #6f6f6f;
            }
        }
    }
    .web_leader{
        display: inline-block;
        height: 42px;
        vertical-align: middle;
    }
}


/* head */
#head{
    background-color:$white;
    height:120px;
}
.head_con{
    height:100px;
    padding-top:20px;
}
.head_top{
    height: 64px;
    h1{
        width:240px;
        height:32px;
        float:left;
        margin-right:80px;
        a{
            display:block;
        }
    }
}
/* search */
.top_search{
    width:630px;
    float:left;
    .top_search_wrap{
        width:630px;
        .top_search_box{
            height:34px;
            width:520px;
            float:left;
            position:relative;
            .search_list{
                width: 100%;
                height: 242px;
                background-color: $white;
                position: absolute;
                top: 33px;
                z-index: 10;
                border: 1px solid #959595;
                border-top:none;
                box-sizing: border-box;
                padding-top: 1px;
                display: none;
                li{
                    width: 100%;
                    height: 40px;
                    line-height: 40px;
                    padding-left: 20px;
                    box-sizing: border-box;
                    a{
                        display: block;
                        width: 100%;
                        height: 100%;
                        color: $black;
                        font-size: 14px;
                    }
                    &:hover{
                        background-color: #f5f5f5;
                    }
                }
            }
        }
        .top_search_input{
            width:100%;
            height: 100%;
            padding-left:20px;
            box-sizing:border-box;            
            font-size:12px;
        }
        .top_search_btn{
            width:90px;
            height:34px;
            background-color:$black;
            border:1px solid $black;
            float:left;
            color:$white;
            font-size:16px;
            text-align:center;
            line-height:34px;
            cursor: pointer;
        }
    }
    .top_hot{
        padding-top:3px;
        a{
            float: left;
            padding-right:8px;
            color: #acacac;
            font-size: 12px;
            &:hover{
                color: $fz;
            }
        }
    }
}
/* 购物车 */
.top_cart{
    width: 190px;
    height: 36px;
    box-sizing: border-box;
    float: right;
    line-height: 34px;
    text-align: center;
    font-size: 16px;
    position:relative;
    .top_cart_wrap{
        position:relative;
        border: 1px solid #ddd;
        background: $white;
        cursor: pointer;
        a{
            color: $black;
            font-weight: 400;
            cursor: pointer;
            .top_cart_bag{
                display: inline-block;
                width: 18px;
                height: 26px;
                margin: 0 10px;
                vertical-align: middle;
                background: url(../images/index/icon/shopping_bag.png) no-repeat;
            }
            .top_cart_count{
                color:#d1152a;
                padding: 0 5px;
                display: inline-block;
                vertical-align: middle;
            }
        }  
    }

    .top_cart_nologin{
        width: 415px;
        box-sizing: border-box;
        border: 1px solid #ddd;
        position:absolute;
        top: 36px;
        right: 0;
        background: $white;
        display: none;
        padding: 20px 0 0;
        z-index: 10;
        i{
            float: left;
            width: 64px;
            height: 85px;
            margin-left: 35px;
            background: url(../images/index/icon/package.png) no-repeat;
        }
        .top_cart_msg{
            float: left;
            width: 258px;
            margin-left: 18px;
            margin-bottom: 25px;
            span{
                display: block;
                font-size: 14px;
                color: #858585;
                text-align:left;
                line-height: 15px;
                margin-top: 5px;
            }
            a{
                display: block;
                width: 50px;
                height: 22px;
                line-height: 22px;
                background: $fz;
                text-align: center;
                font-size: 14px;
                color: $white;
                margin-top:20px;
            }
        }


    }
    &:hover{
        .top_cart_wrap{
            padding-bottom: 1px;
            border-bottom: none;
            z-index: 15;
        }
        .top_cart_nologin{
            display: block;
        }
    }
}
.to_shop_cart:hover{
    background-color:#e00;
}
/* head_bottom */
.head_bottom{
    height: 36px;
}
.head_types_all{
    width: 240px;
    height: 36px;
    line-height: 36px;
    float: left;
    background: url(../images/index/icon/classified.png);
    a{
        color: $white;
        margin-left: 15px;
        font-size: 16px;
    }
}
.head_ul{
    float: left;
    height: 36px;
    padding-left: 40px;
    .head_ul_fi_li{
        height: 36px;
        line-height: 36px;
        float: left;
        margin-right: 40px;
        position:relative;
        a{
            font-size: 16px;
            color: $black;
            &:hover{
                color: #dc002f;
            }
        }
        .head_brands{
            position: absolute;
            width: 526px;
            min-height: 100px;
            left: -320px;
            padding-top: 8px;
            top: 28px;
            background-repeat: no-repeat;
            background-image: url(../images/index/icon/navigation_brand_top.png);
            content: "";
            z-index: 15;
            display: none;
            .head_brands_main{
                padding: 20px;
                height: 307px;
                width: 484px;
                background-color: #fff;
                border: 1px solid #ccc;
                border-top: 0;
                .head_brands_left{
                    width: 269px;
                    height: 307px;
                    display: inline-block;
                    border-right: 1px solid #7d7d7d;
                    padding-right: 10px;
                    .head_in{
                        background-color: #eee;
                        border-radius: 42px;
                        height: 42px;
                        line-height: 42px;
                        font-size: 12px;
                        width: 260px;
                        text-indent: 20px;
                        border: none;
                    }
                    span{
                        width: 38px;
                        height: 38px;
                        float: left;
                        text-align: center;
                        line-height: 38px;
                        font-size: 18px;
                        font-weight: 700;
                        cursor: pointer;
                        color: #000;
                        &:hover{
                            color: #e00;
                        }
                    }
                    .no_letter{
                        color: #b2b2b2;
                        &:hover{
                            color: #b2b2b2;
                        }
                    }
                }
                .head_brands_right{
                    width: 200px;
                    height: 307px;
                    float: right;
                    overflow: auto;
                    .head_scroll{
                        position: relative;
                        top: 0;
                    }
                }
                .head_brands_letter{
                    margin-left: 20px;
                    .head_brands_title{
                        font-size: 14px;
                        font-weight: 700;
                        line-height: 26px;
                    }
                    li{
                        line-height: 22px;
                        margin: 0;
                        a{
                            color: #3b3b3b;
                            font-size: 12px;
                            line-height: 22px;
                            &:hover{
                                color: #e00;
                            }
                        }
                    }
                }
            }
        }
    }
    .search_li:hover .head_brands{
        display: block;
    }
}
.head_img{
    display: block;
    float: right;
    margin-top: -5px;
}

#top{
    height: 30px;
    line-height: 30px;
    background-color: $black;
    font-size: 12px;
}
.top_con{
    height:30px;
}
.top_left{
    float: left;
    height: 30px;
    p, a, i{
        float: left;color: $white;
    }
    p, a{
        margin: 0 12px;
    }
    a:hover{
        color: $fz;
    }
    i{
        width: 1px;
        height: 16px;
        background-color: $white;
        margin-top:7px;
    }
    .user_name:hover{
        color: #fff;
        cursor: text;
    }
    .user_name span{
        float: left;
    }
    .user_img{
        display: inline-block;
        width: 22px;
        height: 16px;
        vertical-align: middle;
        margin-left: 10px;
        margin-top: 9px;
        background: url(../images/index/icon/card-pink.png) no-repeat;
    }
    .islogin_false{
        float: left;
    }
    .islogin_true{
        float: left;
        display: none;
        .login_bar{
            width: 1px;
            height: 16px;
            background-color: #fff;
            float: left;
            margin-top: 7px;
        }
    }
}
.top_center{
    width: 230px;
    height: 30px;
    float: left;
    position:relative;
    overflow: hidden;
    margin-left: 50px;
    a{
        display: block;
        position:absolute;
        top:30px;
        color: #fff;
        line-height: 30px;
        &:hover{
            color: #e00;
        }
    }
}
.top_right{
    height: 30px;
    float: right;
    .top_my_sephora,.top_vip_club,.top_phone_sephora,.top_beauty,.top_help{
        float:left;
        margin-left: 22px;
        position:relative;
    }
    .my_sephora,.vip_club,.phone_sephora{
        display: inline-block;
        width: 12px;
        height: 12px;
        margin-right: 6px;
        background: url(../images/index/icon/my-sephora.png) no-repeat;
        background-size: 100% 100%;
        vertical-align: middle;
        margin-top: -2px;
    }
    .top_arrow_icon{
        display: inline-block;
        width: 9px;
        height: 4px;
        background: url(../images/index/sprite/top_angle.png) no-repeat;
        margin-left: 5px;
        background-position: -3px -16px;
        margin-bottom: 3px;
    }
    .vip_club{
        background: url(../images/index/icon/vip-club.png) no-repeat;
    }
    .phone_sephora{
        width: 7px;
        margin-right: 2px;
        background: url(../images/index/icon/mobile-sephora.png) no-repeat;
    }
    a{
        color: $white;
        &:hover{
            color: $fz;
        }
    }
    .top_my_order{
        position:absolute;
        width:88px;
        text-align:center;
        border:1px solid #c8c8c8;
        cursor:pointer;
        display:none;
        background:$white;
        z-index: 9;
        &:hover{
            background-color:rgb(238, 238, 238);
            color:rgb(238, 0, 0);
        }
        &:after{
            display: block;
            position:absolute;
            width: 100%;
            height: 7px;
            background: url(../images/index/sprite/top_angle.png) no-repeat;
            content: "";
            top: -7px;
        }
    }
}

.top_my_sephora:hover .top_my_order{
    display: block;
}
.top_my_sephora:hover .top_arrow_icon{
    transform-origin: center;
    transform: rotateZ(180deg);
}

/* 购物车 */
.login_status{

}
.no_anything{
    float: left;
    width: 258px;
    margin-left: 25px;
    margin-top: 25px;
    display: none;
    margin-bottom: 45px;
    span{
        font-size: 12px;
        color: #858585;

    }
}
.login_goods{
    display: none;
    p{
        width: 100%;
        font-size: 12px;
        color: #858585;
        text-align: left;
        text-indent: 24px;
        font-weight: bold;
        border-bottom: 1px solid #858585;
    }
}
.new_add {
    overflow: auto;
    max-height: 180px;
    ul li{
        width: 100%;
        float: left;
        padding: 10px 15px;
        box-sizing: border-box;
        .new_add_img{
            display: block;
            float: left;
            margin: 10px;
        }
        .new_add_describe{
            float: left;
            font-size: 12px;
            .new_add_title,.new_add_des{
                display: block;
                width: 180px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                text-align: left;
            }
        }
        .new_add_r{
            float: right;
            .new_add_r_price{
                font-size: 12px;
                color: #e00;
            }
            .new_add_r_count{
                font-size: 12px;
            }
        }
        .new_add_delete{
            display: block;
            text-align: right;
            font-size: 12px;
            color: #909090;
        }
    }
}
.xiaoji{
    font-size: 12px;
    height: 50px;
    line-height: 34px;
    letter-spacing: 1px;
    background: #f7f7f7;
    span{
        float: left;
        height: 50px;
        line-height: 50px;
        margin-left: 20px;
        b{
            color: #e00;
        }
    }
    a{
        float: right;
        padding: 0 5px;
        color: #fff;
        background: #000;
        height: 34px;
        margin: 8px 20px;
        transition: all 1s;
    }
}