@import "reset.scss";
@import "common.scss";
$black: #000; 
$white: #fff;  
$fz: #e00;
$bg: #f5f5f5;
body{    
    line-height: 16px;
    color: $black;
    font-size: 12px;
    -webkit-text-size-adjust: none;
    font-family: arial,Microsoft YaHei,tahoma,Hiragino Sans GB,\\5b8b\4f53,sans-serif;
    min-width: 1190px;
}
#top{
	height: 30px;
	line-height: 30px;
    background-color: $black;
    font-size: 12px;
}
.top_con{
    height:30px;
}
.top_left{
    float: left;
    height: 30px;
    p, a, i{
        float: left;color: $white;
    }
    p, a{
        margin: 0 12px;
    }
    a:hover{
        color: $fz;
    }
    i{
        width: 1px;
        height: 16px;
        background-color: $white;
        margin-top:7px;
    }
}
.top_center{
    width: 230px;
    height: 30px;
    float: left;
    position:relative;
    overflow: hidden;
    margin-left: 50px;
    a{
        display: block;
        position:absolute;
        top:30px;
        color: #fff;
        line-height: 30px;
        &:hover{
            color: #e00;
        }
    }
}
.top_right{
    height: 30px;
    float: right;
    .top_my_sephora,.top_vip_club,.top_phone_sephora,.top_beauty,.top_help{
        float:left;
        margin-left: 22px;
        position:relative;
    }
    .my_sephora,.vip_club,.phone_sephora{
        display: inline-block;
        width: 12px;
        height: 12px;
        margin-right: 6px;
        background: url(../images/index/icon/my-sephora.png) no-repeat;
        background-size: 100% 100%;
        vertical-align: middle;
        margin-top: -2px;
    }
    .top_arrow_icon{
        display: inline-block;
        width: 9px;
        height: 4px;
        background: url(../images/index/sprite/top_angle.png) no-repeat;
        margin-left: 5px;
        background-position: -3px -16px;
        margin-bottom: 3px;
    }
    .vip_club{
        background: url(../images/index/icon/vip-club.png) no-repeat;
    }
    .phone_sephora{
        width: 7px;
        margin-right: 2px;
        background: url(../images/index/icon/mobile-sephora.png) no-repeat;
    }
    a{
        color: $white;
        &:hover{
            color: $fz;
        }
    }
    .top_my_order{
        position:absolute;
        width:88px;
        text-align:center;
        border:1px solid #c8c8c8;
        cursor:pointer;
        display:none;
        background:$white;
        z-index: 9;
        &:hover{
            background-color:rgb(238, 238, 238);
            color:rgb(238, 0, 0);
        }
        &:after{
            display: block;
            position:absolute;
            width: 100%;
            height: 7px;
            background: url(../images/index/sprite/top_angle.png) no-repeat;
            content: "";
            top: -7px;
        }
    }
}

.top_my_sephora:hover .top_my_order{
    display: block;
}
.top_my_sephora:hover .top_arrow_icon{
    transform-origin: center;
    transform: rotateZ(180deg);
}

#head{
    background-color:$white;
    height:120px;
}
.head_con{
    height:100px;
    padding-top:20px;
}
.head_top{
    height: 64px;
    h1{
        width:240px;
        height:32px;
        float:left;
        margin-right:80px;
        a{
            display:block;
        }
    }
}
/* search */
.top_search{
    width:630px;
    float:left;
    .top_search_wrap{
        width:630px;
        .top_search_box{
            height:34px;
            width:520px;
            float:left;
            position:relative;
            .search_list{
                width: 100%;
                height: 242px;
                background-color: $white;
                position: absolute;
                top: 33px;
                z-index: 10;
                border: 1px solid #959595;
                border-top:none;
                box-sizing: border-box;
                padding-top: 1px;
                display: none;
                li{
                    width: 100%;
                    height: 40px;
                    line-height: 40px;
                    padding-left: 20px;
                    box-sizing: border-box;
                    a{
                        display: block;
                        width: 100%;
                        height: 100%;
                        color: $black;
                        font-size: 14px;
                    }
                    &:hover{
                        background-color: #f5f5f5;
                    }
                }
            }
        }
        .top_search_input{
            width:100%;
            height: 100%;
            padding-left:20px;
            box-sizing:border-box;            
            font-size:12px;
        }
        .top_search_btn{
            width:90px;
            height:34px;
            background-color:$black;
            border:1px solid $black;
            float:left;
            color:$white;
            font-size:16px;
            text-align:center;
            line-height:34px;
            cursor: pointer;
        }
    }
    .top_hot{
        padding-top:3px;
        a{
            float: left;
            padding-right:8px;
            color: #acacac;
            &:hover{
                color: $fz;
            }
        }
    }
}
/* 购物车 */
.top_cart{
    width: 190px;
    height: 36px;
    box-sizing: border-box;
    float: right;
    line-height: 34px;
    text-align: center;
    font-size: 16px;
    position:relative;
    .top_cart_wrap{
        position:relative;
        border: 1px solid #ddd;
        background: $white;
        cursor: pointer;
        a{
            color: $black;
            font-weight: 400;
            cursor: pointer;
            .top_cart_bag{
                display: inline-block;
                width: 18px;
                height: 26px;
                margin: 0 10px;
                vertical-align: middle;
                background: url(../images/index/icon/shopping_bag.png) no-repeat;
            }
            .top_cart_count{
                color:#d1152a;
                padding: 0 5px;
                display: inline-block;
                vertical-align: middle;
            }
        }  
    }

    .top_cart_nologin{
        width: 415px;
        height: 115px;
        box-sizing: border-box;
        border: 1px solid #ddd;
        position:absolute;
        top: 36px;
        right: 0;
        background: $white;
        display: none;
        padding: 20px 0 0;
        z-index: 10;
        i{
            float: left;
            width: 64px;
            height: 85px;
            margin-left: 35px;
            background: url(../images/index/icon/package.png) no-repeat;
        }
        .top_cart_msg{
            float: left;
            width: 258px;
            margin-left: 18px;
            span{
                display: block;
                font-size: 14px;
                color: #858585;
                text-align:left;
                line-height: 15px;
                margin-top: 5px;
            }
            a{
                display: block;
                width: 50px;
                height: 22px;
                line-height: 22px;
                background: $fz;
                text-align: center;
                font-size: 14px;
                color: $white;
                margin-top:20px;
            }
        }
    }
    &:hover{
        .top_cart_wrap{
            padding-bottom: 1px;
            border-bottom: none;
            z-index: 15;
        }
        .top_cart_nologin{
            display: block;
        }
    }
}
/* head_bottom */
.head_bottom{
    height: 36px;
}
.head_types_all{
    width: 240px;
    height: 36px;
    line-height: 36px;
    float: left;
    background: url(../images/index/icon/classified.png);
    a{
        color: $white;
        margin-left: 15px;
        font-size: 16px;
    }
}
.head_ul{
    float: left;
    height: 36px;
    padding-left: 40px;
    .head_ul_fi_li{
        height: 36px;
        line-height: 36px;
        float: left;
        margin-right: 40px;
        position:relative;
        a{
            font-size: 16px;
            color: $black;
            &:hover{
                color: #dc002f;
            }
        }
        .head_brands{
            position: absolute;
            width: 526px;
            min-height: 100px;
            left: -320px;
            padding-top: 8px;
            top: 28px;
            background-repeat: no-repeat;
            background-image: url(../images/index/icon/navigation_brand_top.png);
            content: "";
            z-index: 15;
            display: none;
            .head_brands_main{
                padding: 20px;
                height: 307px;
                width: 484px;
                background-color: #fff;
                border: 1px solid #ccc;
                border-top: 0;
                .head_brands_left{
                    width: 269px;
                    height: 307px;
                    display: inline-block;
                    border-right: 1px solid #7d7d7d;
                    padding-right: 10px;
                    .head_in{
                        background-color: #eee;
                        border-radius: 42px;
                        height: 42px;
                        line-height: 42px;
                        font-size: 12px;
                        width: 260px;
                        text-indent: 20px;
                        border: none;
                    }
                    span{
                        width: 38px;
                        height: 38px;
                        float: left;
                        text-align: center;
                        line-height: 38px;
                        font-size: 18px;
                        font-weight: 700;
                        cursor: pointer;
                        color: #000;
                        &:hover{
                            color: #e00;
                        }
                    }
                    .no_letter{
                        color: #b2b2b2;
                        &:hover{
                            color: #b2b2b2;
                        }
                    }
                }
                .head_brands_right{
                    width: 200px;
                    height: 307px;
                    float: right;
                    overflow: auto;
                    .head_scroll{
                        position: relative;
                        top: 0;
                    }
                }
                .head_brands_letter{
                    margin-left: 20px;
                    .head_brands_title{
                        font-size: 14px;
                        font-weight: 700;
                        line-height: 26px;
                    }
                    li{
                        line-height: 22px;
                        margin: 0;
                        a{
                            color: #3b3b3b;
                            font-size: 12px;
                            line-height: 22px;
                            &:hover{
                                color: #e00;
                            }
                        }
                    }
                }
            }
        }
    }
    .search_li:hover .head_brands{
        display: block;
    }
}
.head_img{
    display: block;
    float: right;
    margin-top: -5px;
}
/* fixed_top */
#fixed_top{
    min-width: 1190px;
    position: fixed;
    z-index: 1001;
    width: 100%;
    height: 60px;
    background: $white;
    box-shadow: 0 3px 3px #f0f0f0;
    top: -70px;
    transition-duration: .8s;
    .fixed_con{
        width: 1190px;
        margin: 0 auto;
        height: 40px;
        padding: 10px 0;
        .fixed_logo_a{
            margin: 5px 80px 5px 0;
            height: 30px;
            float: left;
            img{height:100%;}
        }
        .fixed_search{
            float: left;
            .fixed_search_box{
                width: 540px;
                height: 38px;
                float: left;
                position: relative;
                .fix_search_list{
                    width: 564px;
                    height: 240px;
                    position: absolute;
                    background: #fff;
                    top: 37px;
                    padding: 1px 0;
                    box-sizing: border-box;
                    border: 1px solid #959595;
                    border-top: none;
                    display: none;
                    li{
                        width: 100%;
                        height: 40px;
                        line-height: 40px;
                        padding-left: 20px;
                        box-sizing: border-box;
                        a{
                            display: block;
                            width: 100%;
                            height: 100%;
                            color: $black;
                            font-size: 14px;
                        }
                        &:hover{
                            background-color: #f5f5f5;
                        }
                    }
                }
            }
            .fixed_text{
                width: 516px;
                height: 34px;
                line-height: 34px;
                padding-left: 20px;
                font-size: 12px;
            }
            .fixed_btn{
                float: left;
                width: 90px;
                height: 38px;
                border: 1px solid #000;
                background-color: #000;
                border-left: 0;
                border-right: 0;
                cursor: pointer;
                color: #fff;
                font-size: 16px;
                text-align: center;
                line-height: 34px;
            }
        }
    }
}

/* details */
.details_con{
    width: 1190px;
    margin: 0 auto;
    padding-top:26px;
    position:relative;
}
.details_big{
    width: 500px;
    height: 500px;
    position: absolute;
    top:-22px;
    left: 410px;;
    border: 1px solid #ccc;
    overflow: hidden;
    display: none;
    img{
        width: 1200px;
        height: 1200px;
        position: absolute;
        top: 0;
        left: 0;
    }
}
.details_path{
    margin-bottom: 26px;
    font-size: 12px;
    a{
        color: #666;
        &:hover{
            color: #e00;
            text-decoration: underline;
        }
    }
    span{
        color: #666;
    }
}
.details_info{
    .details_magnifier_box{
        float: left;
    }
    .details_magnifier{
        width: 320px;
        height: 320px;
        position: relative;
        border: 1px solid #ccc;
        img{
            width: 320px;
            height: 320px;
        }
        .details_masklaye{
            width: 100%;
            height: 100%;
            position:absolute;
            top:0;
            left: 0;
            background: transparent;
            z-index: 10;
            cursor: crosshair;
        }
        .details_mask{
            width: 140px;
            height: 140px;
            position: absolute;
            z-index: 9;
            top: 0;
            left: 0;
            background: rgba(255,182,193,.7);
            display: none;
            // background: #000;
        }
    }
    .details_list{
        width: 320px;
        height: 50px;
        margin-top: 30px;
        .arrow_l,.arrow_r{
            float: left;
            height: 50px;
            width: 35px;
        }
        ul{
            float: left;
            overflow: hidden;
            li{
                width: 50px;
                height: 50px;
                float: left;
                cursor: pointer;
                img{
                    width: 50px;
                    height: 50px;
                }
            }
        }
    }
    .point_top{
        border-bottom: 1px solid #ddd;
    }
    .details_point{
        float: left;
        width: 828px;
        padding-left: 40px;
        .point_text{
            float: left;
            width: 680px;
            h2{
                letter-spacing: 1px;
                font-size: 20px;
                color: #000;
                font-weight: 500;
            }
            .point_name_en{
                display: block;
                margin-top: 8px;
                font-size: 14px;
                color: #000;
            }
            .point_notice{
                margin-top: 12px;
                font-size: 12px;
                color: #666;
            }
        }
        .point_small_brand{
            float: right;
        }
        .sales{
            width: 100%;
            height: 24px;
            margin-top: 19px;
            p,ul,li{
                float: left;
            }
            ul{
                margin-left: 20px;
                li{
                    margin-left: 10px;
                    width: 36px;
                    height: 20px;
                    line-height: 20px;
                    text-align: center;
                }
                .s_x{   
                    background-color: red;
                    color: #fff;
                }
                .s_z{
                    background: #000;
                    color: #eec632;
                }
                .s_d{
                    background: #2dbeff;
                    color: #fff;
                }
            }
        }
        .sales_title{
            margin-top: 3px;
            color: #666;
            font-size: 12px;
        }
        .sales_rmb{
            margin-left: 40px;
            margin-top: 3px;
            color: #e00;
            font-size: 14px;
        }
        .sales_price{
            color: #e00;
            font-size: 24px;
            margin-right: 10px;
        }
        .active{
            margin-top: 20px;
            border-bottom: 1px solid #ddd;
        }
        .active_title{
            float: left;
            color: #666;
        }
        .active_list{
            float: left;
            margin-left: 40px;
            margin-bottom: 10px;
            li{
                margin-bottom: 10px;
            }
        }
        .active_type{
            color: #e00;
            float: left;
            height: 18px;
            border: 1px solid #e00;
            padding-left: 5px;
            padding-right: 5px;
            letter-spacing: 1px;
        }
        .active_main{
            float: left;
            width: 590px;
            letter-spacing: 1px;
            color: #474747;
            margin-left: 12px;
            line-height: 20px;
        }
        .format{
            width: 100%;
            margin-top: 20px;
        }
        .format_title{    
            float: left;
            font-size: 12px;
            color: #666;
            margin-top: 4px;
        }
        .format_type{
            float: left;
            margin-left: 40px;
            width: 650px;
            li{
                float: left;
                color: #333;
                box-shadow: inset 0 0 0 1px #ddd;
                cursor: pointer;
                margin-right: 10px;
                margin-bottom: 10px;
                span{
                    display: block;
                    width: 121px;
                    height: 32px;
                    line-height: 32px;
                    text-align: left;
                    margin-left: 5px;
                }
                &:hover{
                    box-shadow: inset 0 0 0 1px #000;
                }
            }
            .format_act{
                color: #000;
                box-shadow: inset 0 0 0 2px #000;
                &:hover{
                    box-shadow: inset 0 0 0 2px #000;
                }
            }
        }   
        .addition{
            margin-top: 20px;
        }   
        .add_number{
            float: left;
            width: 68px;
            height: 39px;
            margin: 0 10px 0 64px;
            border: 1px solid #ddd;
            .add_count{
                float: left;
                height: 39px;
                line-height: 39px;
                width: 48px;
                border-right: 1px solid #ddd;
                color: #000;
                font-size: 16px;
                text-align: center;
                .count_num{
                    height: 37px;
                    line-height: 39px;
                    width: 48px;
                    text-align: center;
                    border:none;
                    box-sizing:border-box;
                }
            }
            .arrow{
                float: left;
                width: 19px;
                .arrow_top{
                    float: left;
                    width: 19px;
                    height: 19px;
                    border-bottom: 1px solid #ddd;
                    i{
                        margin: 7px 0 0 4px;
                        float: left;
                        width: 10px;
                        height: 6px;
                        background-position: -50px -18px;
                        background-image: url(../images/details/PDP-ICON.png);
                        content: "";
                    }
                }
                .arrow_bottom{
                    float: left;
                    width: 19px;
                    height: 19px;
                    border-bottom: 1px solid #ddd;
                    i{
                        margin: 7px 0 0 4px;
                        float: left;
                        width: 10px;
                        height: 6px;
                        background-position: -40px -42px;
                        background-image: url(../images/details/PDP-ICON.png);
                        content: "";
                    }
                }
                .arrow_pointer{
                    cursor: pointer;
                }
            }
        }  
        .add_btn{
            float: left;
            margin-right: 10px;
            width: 175px;
            height: 40px;
            background-color: #e00;
            cursor: pointer;
            transition: all 0.5s;
            span{
                float: left;
                margin-left: 35px;
                font-size: 16px;
                color: #fff;
                margin-top: 12px;
            }
            i{
                width: 16px;
                height: 21px;
                background-position: -24px -16px;
                float: left;
                margin: 10px 0 0 9px;
                background-image: url(../images/details/PDP-ICON.png);
                content: "";
            }
            &:hover{
                background-color: #000;
            }
        }
    }
}

/* info */
#info{
    margin-bottom: 90px;
}
.info_con{
    width: 1190px;
    margin: 40px auto 0;
}
.info_like{
    float: left;
    width: 180px;
    h3{
        height: 26px;
        width: 180px;
        border-bottom: 1px solid #000;
        font-size: 16px;
        line-height: 16px;
        color: #000;
    }
    .info_like_list{
        margin-top: 30px;
        width: 179px;
        border-right: 1px solid #ccc;
    }
    .info_product{
        float: left;
        margin-top: 40px;
        width: 100%;
        a{
            display: block;
            width: 100%;
            text-align: center;
            color: #000;
            font-weight: 400;
            img{
                display: block;
                margin: 0 auto;
                width: 160px;
                height: 160px;
            }
            .inpro_name_en{
                float: left;
                width: 100%;
                text-align: center;
                font-size: 14px;
                font-weight: 600;
                color: #000;
                margin-top: 6px;
                cursor: pointer;
            }
            .inpro_des{
                clear: both;
                display: inline-block;
                margin-top: 5px;
                width:132px;
                text-align: center;
                cursor: pointer;
            }
            .inpro_price{
                cursor: pointer;
                text-align: center;
                width: 100%;
                margin-top: 10px;
                color: #e00;
                i{
                    display: inline-block;
                    font-size: 12px;
                }
                span{
                    display: inline-block;
                    font-size: 16px;
                }
            }
        }
    }
}
.info_full{
    float: left;
    margin-left: 20px;
    width: 990px;
    .full_title{
        width: 100%;
        height: 26px;
        float: left;
        border-bottom: 1px solid #000;
        .title_ul li{
            float: left;
            height: 24px;
            width: 90px;
            font-size: 16px;
            text-align: center;
            margin-right: 10px;
            cursor: pointer;
            color: #333;
        }
        .title_ul .now{
            color: #000;
            border-bottom: 2px solid #000;
        }
    }
    .full_leftline{
        margin-top: 30px;
        width: 990px;
        border-left: 1px solid #ccc;
        margin-left: -21px;
        float: left;
        padding-left: 20px;
    }
    .full_nzh{
        width: 955px;
        margin-left: 35px;
        float: left;
        color: #333;
        height: 84px;
        li{
            float: left;
            width: 230px;
            margin-bottom: 12px;
        }
    }
    .full_nzhdetails{
        width: 955px;
        margin-left: 35px;
        float: left;
        color: #333;
        .full_nzh_title{
            i{
                width: 8px;
                height: 11px;
                background-position: 0 -74px;
                float: left;
                margin-top: 3px;
                background-image: url(../images/details/PDP-ICON.png);
                content: "";
            }
            p{
                margin-left: 10px;
                float: left;
                font-size: 15px;
                color: #000;
            }
        }
        .full_text{
            float: left;
            width: 100%;
            font-size: 12px;
            margin-top: 25px;
        }
    }
}