@import "reset.scss";
@import "common.scss";
$black: #000; 
$white: #fff;  
$fz: #e00;
$bg: #f5f5f5;
body{
    font-family: arial,Microsoft YaHei,tahoma,Hiragino Sans GB,\\5b8b\4f53,sans-serif;
    -moz-user-select: none; -khtml-user-select: none; user-select: none;
}
#top{
	height: 30px;
	line-height: 30px;
    background-color: $black;
    font-size: 12px;
}
.top_con{
    height:30px;
}
.top_left{
    float: left;
    height: 30px;
    p, a, i{
        float: left;color: $white;
    }
    p, a{
        margin: 0 12px;
    }
    a:hover{
        color: $fz;
    }
    i{
        width: 1px;
        height: 16px;
        background-color: $white;
        margin-top:7px;
    }
}
.top_center{
    width: 230px;
    height: 30px;
    float: left;
    position:relative;
    overflow: hidden;
    margin-left: 50px;
    a{
        display: block;
        position:absolute;
        top:30px;
        color: #fff;
        line-height: 30px;
        &:hover{
            color: #e00;
        }
    }
}
.top_right{
    height: 30px;
    float: right;
    .top_my_sephora,.top_vip_club,.top_phone_sephora,.top_beauty,.top_help{
        float:left;
        margin-left: 22px;
        position:relative;
    }
    .my_sephora,.vip_club,.phone_sephora{
        display: inline-block;
        width: 12px;
        height: 12px;
        margin-right: 6px;
        background: url(../images/index/icon/my-sephora.png) no-repeat;
        background-size: 100% 100%;
        vertical-align: middle;
        margin-top: -2px;
    }
    .top_arrow_icon{
        display: inline-block;
        width: 9px;
        height: 4px;
        background: url(../images/index/sprite/top_angle.png) no-repeat;
        margin-left: 5px;
        background-position: -3px -16px;
        margin-bottom: 3px;
    }
    .vip_club{
        background: url(../images/index/icon/vip-club.png) no-repeat;
    }
    .phone_sephora{
        width: 7px;
        margin-right: 2px;
        background: url(../images/index/icon/mobile-sephora.png) no-repeat;
    }
    a{
        color: $white;
        &:hover{
            color: $fz;
        }
    }
    .top_my_order{
        position:absolute;
        width:88px;
        text-align:center;
        border:1px solid #c8c8c8;
        cursor:pointer;
        display:none;
        background:$white;
        z-index: 9;
        &:hover{
            background-color:rgb(238, 238, 238);
            color:rgb(238, 0, 0);
        }
        &:after{
            display: block;
            position:absolute;
            width: 100%;
            height: 7px;
            background: url(../images/index/sprite/top_angle.png) no-repeat;
            content: "";
            top: -7px;
        }
    }
}

.top_my_sephora:hover .top_my_order{
    display: block;
}
.top_my_sephora:hover .top_arrow_icon{
    transform-origin: center;
    transform: rotateZ(180deg);
}

/* head */
#head{
	height: 120px;
}
.head_con{
	height: 70px;
	padding: 25px 0;
	width: 1190px;
	margin: 0 auto;
	h1{
		float: left;
		height: 40px;
		img{
			height: 30px;
			margin-top: 5px;
		}
		a{
			display: block;
		}
	}
	.head_process{
		float: right;
		position: relative;
	}
	.step_wrap{
		border-bottom: 3px solid #eee;
		z-index: 10;
		position: relative;
		float: left;
		em{
			width: 82px;
			height: 50px;
			display: block;
			background-repeat: no-repeat;
			margin-top: 7px;
			margin-bottom: 10px;
			background-image: url(../images/cart/checkout_header_step.png);
			content: "";
		}
	}
	.step_wrap_01{
		width: 82px;
		margin-right: 101px;
        border-color: #000;
        .step_em_01{
			background-position: -22px 0;
        }
	}
	.step_wrap_02{
	    width: 123px;
		margin-right: 101px;
		.step_em_02{
			width: 123px;
			background-position: -124px -50px;
        }
	}
	.step_wrap_03{
		width: 96px;
		.step_em_03{
			width: 96px;
			background-position: -138px -100px;
        }
	}
	.step_bar{
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 3px;
		background-color: #eee;
		z-index: 1;
	}
}

/* main */
#main{
	background-color: #f5f5f5;
	.em_act1{
		position: absolute;
		top: 16px;
		left: 13px;
	}
	.em_act2{
		position: absolute;
		top: 68px;
		left: -27px;
	}
}
.check_em{
	display: block;
	width: 14px;
	cursor: pointer;
	height: 14px;
	background: url(../images/index/icon/module_input_checkbox.png) no-repeat; 
	background-position: -28px 0;
	z-index:10;
}
.check_em_act{
	background-position: -42px 0;
}
.main_con{
	width: 1190px;
	padding: 40px 0 30px;
}
.main_cart{
	width: 1190px;
	// min-height: 300px;
	position:relative;
	background-color: #fff;
    .main_cart_wrap{
		width: 1190px;
		min-height: 300px;
    }
	.main_nologin{
		width: 450px;
		height: 77px;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -33px;
		margin-left: -225px;
		em{
			width: 60px;
			height: 77px;
			display: block;
			background: url(../images/cart/package4.png) no-repeat;
			float: left;
		}
		span{
			width: 370px;
			margin-top: 13px;
			color: #858585;
			margin-bottom: 15px;
			display: block;
			float: left;
			margin-left: 20px;
			font-size: 14px;
		}
		i{
			display: block;
			float: left;
			margin-left: 20px;
			font-size: 14px;
			color: #000;
			cursor: pointer;
		}
	}
}

/* coupon_con */
#coupon{
	background: #f5f5f5;
}
.coupon_con{
	width: 1190px;
	margin: 0 auto;
	.coupon_title{
		h2{
			float: left;
		}
		.know_rules{
			float: left;	
			color: #9f9f9f;
			font-size: 12px;
			margin-left: 12px;
			margin-top: 4px;
		}
		.user_rules{
			margin-top: 4px;
			float: left;
			position:relative;
			cursor: pointer;
			span{
				font-size: 12px;
				color: #ef1d1e;
			}
		}
		.rules_con{
			display: none;
			padding: 20px 30px;
			background-color: #fff;
			width: 330px;
			position: absolute;
			left: 0;
			top: 35px;
			box-shadow: 0 0 8px 0 hsla(0,0%,80%,.7);
			z-index: 10;
			.arrow_rules{
				width: 12px;
				height: 20px;
				position: absolute;
				top: -6px;
				left: 20px;
				background-image: url(../images/index/icon/sprite_checkout_triangle.png);
				content: "";
			}
			.rules_title{
				font-size: 14px;
				color: #000;
				border-bottom: 1px solid #000;
				display: inline-block;
				padding-bottom: 5px;
				margin-bottom: 15px;
			}
			.rules_text{
				color: #666;
				line-height: 22px;
				font-size: 12px;
			}
			.rules_btn{
				margin: 0 auto;
				width: 48px;
				height: 18px;
				text-align: center;
				line-height: 18px;
				font-size: 12px;
				border: 1px solid #ccc;
				margin-top: 18px;
				cursor: pointer;
			}
		}
		.coupon_code{
			background-color: #000;
			color: #fff;
			float: right;
			width: 95px;
			height: 20px;
			line-height: 20px;
			font-size: 12px;
			text-align: center;
			cursor: pointer;
		}
	}
	.coupon_body{
		width: 1190px;
		height: 176px;
		margin-top: 18px;
		background: #fff;
		position: relative;
		.coupon_no{
			margin: 0 auto;
			text-align: center;
			width: 130px;
			height: 64px;
			padding: 56px 0;
			.slogn{
				width: 46px;
				height: 30px;
				margin: 0 auto;
				background-position: -20px 0;
				background-image: url(../images/index/icon/sprite_checkout_coupons.png);
				content: "";
			}
			span{
				margin-top: 16px;
				display: block;
				color: #a7a7a7;
				font-size: 14px;
			}
		}
	}
}

/* settle */
#settle{
	background: #f5f5f5;
	padding:50px 0 80px;;
	height: 60px;
}
.settle_con{
	width: 1190px;
	height: 60px;
	margin: 0 auto;
	background: #fff;
	.all_control{
		height: 20px;
		line-height: 20px;
		display: inline-block;
		padding: 20px 0;
		float: left;
		em,a,div{
			font-size: 12px;
			color: #474747;
		}
		.check_03{
			display: inline-block;
			vertical-align: text-top;
			margin: 1px 20px 0;
		}
		.all_check,.check_delete{
			margin-right: 30px;
			display: inline-block;
		}
		.all_bar{
			display: inline-block;
			width: 1px;
			height: 14px;
			background-color: #ccc;
			vertical-align: middle;
		    margin-right: 30px;
		}
		.link_kf{
			background-color: #eee;
			color: #000;
			border-radius: 100px;
			display: inline-block;
			width: 130px;
			height: 20px;
			line-height: 20px;
			text-indent: 8px;
			position: relative;
			&:after{
				display: block;
				content: "";
				width: 9px;
				height: 9px;
				position: absolute;
				top: 6px;
				right: 10px;
				background: url(../images/index/icon/checkout-submit-phone.png) no-repeat 100%;
			}
		}
	}
	.settle_r{
		float: right;
    	color: #858585;
    	.settle_info{
			height: 60px;
			float: left;
			line-height: normal;
			padding: 10px 0;
			box-sizing: border-box;
    	}
    	.settle_info_li_01{
    		text-align: right;
    		padding-bottom: 4px;
    		font-size: 12px;
    		.hj3{
				color: #e00;
				font-size: 14px;
    		}
    	}
    	.settle_info_li_02{
    		font-size: 12px;
    		.hj5{
    			color: #000;
    		}
    	}
    	.save{
    		display: inline-block;
    		position: relative;
    		.save_blank{
    			display: none;
    			width: 150px;
    			height: 50px;
    			padding: 20px;
    			position: absolute;
    			top: -100px;
    			left: -20px;
    			background-color: #fff;
    			box-shadow: 0 0 8px 0 hsla(0,0%,80%,.7);
    			p{
    				margin: 5px 0;
    			}
    			span{
    				float: left;
    				width: 50%;
    				text-align: right;
    			}
    			&:after{
    				display: block;
					width: 12px;
					height: 20px;
					position: absolute;
					bottom: -6px;
					left: 20px;
					background-image: url(../images/index/icon/sprite_checkout_triangle.png);
					content: "";
					transform: rotateZ(180deg);
    			}
    		}
    		i{
    			display: inline-block;
				width: 14px;
				height: 14px;
				margin-right: 5px;
				vertical-align: bottom;
				position: relative;
				background: url(../images/index/icon/checkout_first_minu.png) no-repeat;
    		}
    		&:hover .save_blank{
    			display: block;
    		}
    	}
    	.lijs{
			width: 140px;
			height: 60px;
			background-color: #e00;
			text-align: center;
			line-height: 60px;
			font-size: 20px;
			float: left;
			color: #fff;
			margin-left: 30px;
			cursor: pointer;
    	}
	}
}
.fixed{
	position:fixed;
	bottom: 0;
	left:0;
	right:0;
	margin: 0 auto;
	box-shadow: 0 0 8px 0 rgba(0,0,0,.7);
	z-index: 20;
}

/* main_has_goods */
.main_has_goods{
	width: 1190px;
	margin: 0 auto;
	background-color: #fff;
	position: relative;
	.main_goods_totle{
		height: 47px;
		line-height: 47px;
		padding: 0 44px 0 40px;
		box-sizing: border-box;
		border-bottom: 1px solid #eee;
		position: relative;
		li{
			float: left;
			height: 100%;
			font-size: 12px;
			color: #000;
		}
		.check_all{
			width: 120px;
		}
		.goods_unit_info{
			width: 464px;
		}
		.goods_unit_price{
			width: 150px;
		}
		.goods_unit_count{
			width: 170px;
		}
		.goods_unit_subtotle{
			width: 144px;
		}
		.goods_unit_control{
			width: 50px;
		}
	}
	.goods_single_box{
		padding-top:30px;
		margin: 0px 44px 0 40px;
		height: 120px;
		position: relative;
		border-bottom: 1px solid #ccc;
		.goods_item_img{
			width: 90px;
			height: 90px;
			padding: 8px;
			box-sizing: border-box;
			margin-right: 20px;
			display: inline-block;
			position: relative;
			img{
				width: 74px;
				height: 74px;
			}
		}
		.goods_item_info{
			width: 464px;
			vertical-align: top;
			color: #000;
			line-height: 12px;
			display: inline-block;
			font-size: 12px;
			.goods_gift_info{
				position:relative;
			}
			h5{
				font-weight: 700;
				margin-bottom: 10px;
				cursor: pointer;
				font-size: 12px;
				&:hover{
				    color: #d1152a;
				}
			}
			.goods_item_info_a{
				margin-bottom: 10px;
				cursor: pointer;
				display: inline-block;
				color: #000;
				font-size: 12px;
				&:hover{
				    color: #d1152a;
				}
			}
			.goods_item_info_span{
				display: inline-block;
				padding-right: 12px;
				padding-bottom: 3px;
				position: relative;
				color: #666;
				margin: 0 0 10px;
				cursor: pointer;
				height: 16px;
				box-sizing: border-box;
				border-bottom: 1px solid #fff;
				&:hover{
					border-bottom: 1px solid #e00;
					.goods_pen{
						display: block;
					}
				}
			}
			.goods_pen{
				width: 16px;
				height: 16px;
				display: block;
				position: absolute;
				right: -15px;
				top: 1px;
			    background: url(../images/index/icon/checkout-attr-default.png) no-repeat 0 0;
			    display: none;
			}
		}
		.goods_item_price{
			width: 115px;
			display: inline-block;
			vertical-align: top;
			color: #000;
			margin-bottom: 10px;
			cursor: text;
			font-size: 12px;
			margin-left: 5px;
		}
		.goods_item_count{
			width: 85px;
			margin: 0;
			margin-right: 110px;
			display: inline-block;
			vertical-align: top;
			i{
				width: 21px;
				height: 21px;
				display: inline-block;
				line-height: 21px;
				text-align: center;
				border: 1px solid #eee;
				color: #474747;
				cursor: pointer;
				float: left;
				font-size: 12px;
				cursor: pointer;
			}
			span{
				float: left;
				width: 37px;
				height: 21px;
				display: inline-block;
				border-top: 1px solid #eee;
				border-bottom: 1px solid #eee;
				text-align: center;
				color: #000;
				line-height: 21px;
				font-size: 12px;
			}
		}
		.goods_item_totle{
			width: 144px;
			vertical-align: top;
			display: inline-block;
			font-size: 12px;
			color: #e00;
		}
		.goods_item_delete{
			display: inline-block;
			text-align: center;
			vertical-align: top;
			cursor: pointer;
			i{
				display: inline-block;
				width: 19px;
				height: 19px;
			    background: url(../images/index/icon/checkout_icon.png) no-repeat 0 0;
			}
		}
	}
	.gifts_info{
		width: 1095px;
		height: 70px;
		line-height: 70px;
		position: relative;
		border-top: 1px solid #eee;
		margin-left: 55px;
		.gifts_info_title{
			width: 36px;
			height: 20px;
			font-size: 12px;
			color: #f3f4f6;
			text-align: center;
			line-height: 20px;
			margin: 0 10px 0 0;
			display: inline-block;
			background: #f6670c;
		}
		p{
			display: inline-block;
			color: #000;
			font-size: 12px;
			em{
				color: #f6670c;
			}
		}
		a{
			color: #e00;
			margin-left: 20px;
			cursor: pointer;
			font-size: 12px;
		}
	}
}

/* like */
#like{
	background-color: #f5f5f5;
}
.like_con{
	width: 1190px;
	margin: 0 auto;
	padding-bottom: 70px;
	.like_box_con{
		width: 4760px;
	}
}
.like_title{
	h2{
		float: left;
		font-size: 18px;
		line-height: 18px;
		padding-bottom: 9px;
		color: #000;
	}
	.like_tab{
		float: right;
		.like_tab_l,.like_tab_r{
			float: left;
			width: 50px;
			height: 30px;
			cursor: pointer;
			background-image: url(../images/cart/checkout_tab_slider_control.png);
			content: "";
		}
		.like_tab_r{
			background-position: -50px -60px;
			margin-left: 1px;
		}
	}
}
.like_wrap{
	background-color:#fff;
	margin-top: 20px;
	width: 1190px;
	overflow: hidden;
	.like_show{
		width: 1190px;
		float: left;
	}
	.like_box{
		float: left;
		width: 198px;
		height: 268px;
		padding: 20px;
		cursor: pointer;
		.like_show_top{
			margin-bottom: 10px;
		}
		a{
			display: block;
			width: 180px;
			height: 180px;
			margin: 0 auto;
			img{
				width: 180px;
				height: 180px;
			}
		}
		.like_show_title{
			font-weight: bolder;
			margin-bottom: 5px;
			line-height: 18px;
			font-size: 12px;
			color: #000;
		}
		.like_show_name{
			font-size: 14px;
			margin-bottom: 5px;
			width: 180px;
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
		}
		.like_show_price{
		    color: #e00;
			line-height: 18px;
			font-size: 12px;
		}
	}
}